@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(242, 243, 248);
}
* {
  font-family: "Roboto Condensed", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}
